body{
    margin: 100px;
}
.form-group{
    background-color: #cccccc;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
input[type=text].input{
    width: 100%;
    border-radius:5px;
    padding:12px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
}
input[type=text].input:focus{
    border: 1px solid green;
    box-sizing: border-box;
}


.button{
    background-color: #237d23;
    color: white;
    font-size: 10pt;
    padding: 10px 20px 10px 20px;
    border: 1px solid #237d23;
    border-radius: 4px;
    display: block;

    margin-top: 5px;
}

.button:hover{

    background-color: #0f4f0f;
}

.table{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #aaa6a6;
    border-collapse: collapse;
}
.table tr th , .table tr td {
    border: 1px solid #aaa6a6;

}