/*!* Kichik ekranlar uchun default *!*/
/*body { background: white; }*/

/*!* Ekran ≥ 480px *!*/
/*@media screen and (min-width: 480px) {*/
/*    body { background: lightgreen; }*/
/*}*/

/*!* Ekran ≥ 768px *!*/
/*@media screen and (min-width: 768px) {*/
/*    body { background: lightblue; }*/
/*}*/



/* Katta ekranlar uchun default */
body { background: lightgreen; }

/* Ekran ≤ 479px bo'lsa */
@media screen and (min-width: 480px) and (max-width: 719px) {
    body { background: blue; }
}


@media screen and  (min-width: 200px ) and (max-width: 479px ){
    body { background: white; }
}


@media screen and (min-width: 0px) and (max-width: 199px) {
    body { background: yellow; }
}


